.card{
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 15%;
  text-align: center;
}

.container{
  text-align: center;
}

.mb-4{
  text-align: center;
}

#topo{
  border-bottom: 2px solid;
}

#imagemUser{
	margin-left: 74%;
}

#imagemLogo{
	margin-left: 1%;
}

#sidebar .dropdown-btn {
  display: block;
  text-align: left;
  cursor: pointer;
  outline: none;  
}

#sidebar .dropdown-container {
  display: none;
  padding-left: 2px;
}

#sidebar .dropdown-container a{
  padding-left: 5px;
}